

<div class="stack">
  

  {{!-- https://iili.io/JR0VRSI.png --}}

<div class="add-new-stack-btn">
<button {{action 'openAddStackPopup'}} type="button" >Add new stack</button>
</div>

<div class="stack-container-list">
  
 <div class="stacks-header">
  <h5>Stacks</h5>
  <h5>Environment</h5>
  <h5>Availability</h5>
  <h5>History</h5>

</div>
 
  {{#each stack in model}}
  <div class="single-stack">
    <h6>{{stack.name}}</h6>
    <p>{{stack.environment}}</p>  
    <button {{action 'openEmailPopup'}}>Use</button>

    {{#link-to 'usage-history' stack.id }}
    <img src="https://iili.io/JR0TVa4.png" alt="history">
    {{/link-to}}
  </div>
  
    {{/each}}

</div>
</div>

{{#if isEmailPopupOpen}} <div class="popup">
    <div class="email-verify-div">
      <img src="https://iili.io/JRV5cZv.png" alt="cross-icon" {{ action 'closeEmailPopup'}}>
      <form >
        <p>Email {{input type="email" name="email" ¸=email}}</p>
        <button {{ action 'verifyEmail'}} type="submit">Verify</button>
      </form>
    </div>
  </div>
{{/if}}

{{#if isAddStackPopupOpen}} 
<div class="add-new-stack-div popup">
  <div class="mb-3 add-stack-div">
    <img src="https://iili.io/JRV5cZv.png" alt="cross-icon" {{action 'closeEmailPopup'}}>
    <form method="post">
      <label for="name" class="form-label">Stack name</label>
      {{input type="text" class="form-control" id="name" placeholder="stack name" value=name}}

      <label for="environment" class="form-label">Environment</label>
      {{input type="text" class="form-control" id="environment" placeholder="environment" value=environment}}

      <button {{action 'addStack'}} type="submit">save</button>    

    </form>
  </div>
</div>
{{/if}}